KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=


KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/multitasking.o \
$(ARCHDIR)/hardwarecommunication/port.o \
$(ARCHDIR)/hardwarecommunication/pci.o \
$(ARCHDIR)/hardwarecommunication/bar.o \
$(ARCHDIR)/interruptstubs.o \
$(ARCHDIR)/interrupts.o \
$(ARCHDIR)/driver/keyboard.o \
$(ARCHDIR)/driver/mouse.o \
$(ARCHDIR)/driver/driver-manager.o \
$(ARCHDIR)/driver/driver.o \
$(ARCHDIR)/driver/vga.o \
$(ARCHDIR)/event-handler/keyboard-event-handler.o \
$(ARCHDIR)/event-handler/mouse-event-handler.o \
$(ARCHDIR)/event-handler/print-keyboard-event-handler.o \
$(ARCHDIR)/event-handler/print-mouse-event-handler.o